tres.dtd

<!ELEMENT pedido (cliente+, articulos+ ,total)>
<!ATTLIST pedido numero  NMTOKEN #REQUIRED >
<!ATTLIST pedido dia NMTOKEN #REQUIRED>
<!ELEMENT cliente(nombre,apellido*,)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido(#PCDATA)>
<!ELEMENT articulo (descripcion,cantidad,precio)>
<!ELEMENT descripcion(#PCDATA)>
<!ELEMENT cantidad(#PCDATA)>
<!ELEMENT precio(#PCDATA)>
<!ELEMENT total>
<!ATTLIST valor NMTOKEN #REQUIRED>
